<!--로컬 환경에서의 logback 설정 -->

<!--커스텀 로그백, 콘솔에 로그 출력-->
<included>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender name="CONSOLE2" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/> <!-- Spring 에서 정의된 로그백 -->
        <appender-ref ref="CONSOLE2"/> <!-- 커스텀 로그백 -->
    </root>
</included>

